bin/
obj/
*.user
*.vspscc
*.vssscc
*.suo
*.userosscache
*.sln.docstates
.vs/
Dockerfile
*.mdf
*.ldf
*.log
*.db
*.sqlite
*.sqlite3
*.pdb
*.cache
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.idea/
*.vscode/
appsettings.Development.json
docker-compose.*
compose.*
prometheus.yml
